* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    margin:0;
    padding:0;
    overflow-x:hidden;
  }

body{
    margin: 0;
    background-color: #f4f4f4;
    color: #444444;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    margin:0;
    padding:0;
    overflow-x:hidden;
    

}
.hero{
    height: 1000px;
    background: url(./img/2.jpg);
    background-size: cover;
    width: 100%;
   
}
.btn{
    width: 150px;
    height: 35px;
    margin-top: 1.5rem;

}
.main-container{
    width: 80%;
    margin: auto;
    overflow: auto;
    background: #1A1A40;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem; 
   /*Delete this */
}

.right-side{
    float: right;
    text-align: center;
    padding: 5px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
background-color: #010101;
z-index: 999;
}
.right-side ul {
    display: flex;
    margin-left: auto;
    padding: 0.5rem;
    
}

.right-side a{
    color: #fff;
    padding: 10px;
    margin: 0 10px;
}
.right-side a:hover{
    border-bottom: 2px solid #fff;
}


.s1{
    padding-top: 3rem;
}
.s1 h1{
    font-size: 5rem;
    font-weight: 900;
    color: #f4f4f4;
}
.s1 h4{
    font-size: 2rem;
    font-weight: 800;
    color: #f4f4f4;
}

.s1 h1, h4{
    padding: 1rem;

}

.s1 p{
    color: #f4f4f4;
}

li, a, button {
    text-decoration: none;
}

ul{
    list-style: none;
}

.s2{
    /* background: chartreuse; */
    text-align: center;

}

.second-container{
    max-width: 250px;
    margin: 0 auto;
    padding: 1rem;
    word-wrap: break-word;
}
.s2 h1{
    font-size: 2.5rem;
    margin: 0 auto;
    padding: 1rem;
    /* border-bottom: 10px dotted blue;
    border-width: 20px; */
    text-align: center;
    justify-content: center;
    align-items: center;
}
.projects{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 1000px;

}
.projects div {
    padding: 2rem;
    height: 250px;
    text-align: center;
    height: 400px;
    /* border: 1px solid black; */
}

.project{
    text-align: center;
}

.s2 img{
    background-size: cover;
    width: 100%;
}

.v-dark{
    background-color: #010101 !important;
    margin: 10% auto;
    

}

#mfb{
   margin: 20% auto ; 
    
}

.about{
    height: 750px;
    width: 100%;
    /* background-color: #b1bfd8;
    background-image: linear-gradient(45deg, #b1bfd8 0%, #6782b4 74%); */
    background-color: #2f4353;
background-image: linear-gradient(360deg, #2f4353 0%, #d2ccc4 74%);
}
.about-me{
    width: 500px;
    margin: 0 auto;
}
.about-message{
    height: 100px;
    text-align: center;
    padding: 2rem;
}


.wrapper{
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}
.container-grid{
    max-width: 1500px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}
.box{
    padding-top: 3rem;
    margin: 1.5rem auto;
    width: 50%;
    height: 350px;
    text-align: left;
}

.the-tech{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding-top: 5rem;
}
.the-tech h3{
    text-align: center;
}



.border{
    max-width: 250px;
    margin: 0 auto;
    border-bottom: 10px dotted blue;
    border-width: 20px;
}


.s2 a{
    text-align: center;
}
.s4{
    /* background: cornflowerblue; */
    text-align: center;
    height: 600px;
    padding-top: 2rem;
    
    
}

.s4 h1 {
    font-size: 3.7rem;
    font-weight: 900;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
    
}

.my-form{
    margin-top: 1rem;
    display: block;
    justify-content: center;
    align-items: center;
}
form{
    max-width: 650px;
    margin: 0 auto;

}

input[type=text]{
    width: 95%;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border-radius: 4px;
    overflow: auto;
}
textarea {
    width: 95%;
    height: 50px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border-radius: 4px;
    overflow: auto;
}

input[type=submit] {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    background-color: #1A1A40;
}

.footer{
    /* background: cyan; */
    height: 120px;
    width: 100%;
    /* background-color: #b1bfd8;
background-image: linear-gradient(90deg, #b1bfd8 0%, #6782b4 74%); */
background-color: #2f4353;
background-image: linear-gradient(90deg, #2f4353 0%, #d2ccc4 74%);
    
    
}
.footer-center{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
} 

 
.ss1{
    width: 250px;
    text-align: center;
    height: 100px;
    

}

.footer h3, p {
    margin: 0.5rem auto;
    text-align: center;
}

.text-center{
    text-align: center;
}

.s1-center{
    margin: auto;
}

.left{
    margin: 0;
}


.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    height: 100%;
    
  }

.text-left{
    text-align: left;
    font-size: 1.2rem;
}





.block1 {
    width: 100%;
}
.block2 {
    width: 50%;
    position: relative;
    float: right;
}

.fa-facebook:before {
    color: #1A1A40;
}

.fa-instagram:before {
    color: #1A1A40;
}

.fa-youtube::before{
    color: #1A1A40;
}
@media only screen and (max-width: 992px) {
    .about{
        height: 900px;
    }

    .footer-center{
        display: grid;
        grid-template-columns: repeat(3, 100px);
        text-align: center;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-right: 200px;
    }
    .card{}
    
}



@media only screen and (max-width: 768px) {
    .right-side{
        display: block;
        text-align: center;
        padding: 5px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        background-color: #010101;
        z-index: 999;
    }
    .right-side ul {
        display: flex;
        margin: 0 auto;
        padding: 0.5rem;
        justify-content: center;
        
    }
    
    .right-side a{
        color: #fff;
        padding: 10px;
        margin: 0 10px;
    }
    .v-dark{
        display: block;
        margin: 15% auto;
        padding: 2%;
    }
    .s2 img{
        background-size: cover;
        width: 95%;
        padding-bottom: 5%;
        border-radius: 1%;
    }

    .projects{
        height: auto;
        display: block;
    }    
    .about{
        height: 1200px;
        width: 100%;
    }
    .box{
        width: 340px;
        text-align: center;
    }

    .s4{
        /* background: cornflowerblue; */
        text-align: center;
        height: 600px;
        padding-top: 2rem;
        
        
    }
    
    .my-form{
        margin-top: 1rem;
        display: block;
        justify-content: center;
        align-items: center;
    }
    form{
        max-width: 650px;
        margin: 0 auto;
    
    }
    
    input[type=text]{
        width: 95%;
        padding: 10px;
        margin: 5px;
        display: inline-block;
        border-radius: 4px;
        overflow: auto;
    }
    textarea {
        width: 95%;
        height: 50px;
        padding: 10px;
        margin: 5px;
        display: inline-block;
        border-radius: 4px;
        overflow: auto;
    }
    
    input[type=submit] {
        display: block;
        justify-content: center;
        align-items: center;
        margin: 15px auto;
        background-color: #1A1A40;
    }
    
    .footer{
        height: 350px;
        width: 100%;
    }
    .footer-center{
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 350px;
        margin: 0 auto;
    }
    .footer-center:first-child{
        padding-top: 1rem;
    }

    .ss1{
        margin: 0 auto;
    }
}


@media only screen and (max-width: 450px) {
    .right-side{
        display: block;
        text-align: center;
        padding: 5px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        background-color: #010101;
        z-index: 999;
    }
    .right-side ul {
        display: flex;
        margin: 0 auto;
        padding: 0.5rem;
        justify-content: center;
        
    }
    
    .right-side a{
        color: #fff;
        padding: 10px;
        margin: 0 10px;
    }
    .v-dark{
        display: block;
        margin: 15% auto;
        padding: 2%;
    }
    .s2 img{
        background-size: cover;
        width: 95%;
        padding-bottom: 5%;
        border-radius: 1%;
    }

    .projects{
        height: auto;
        display: block;
        justify-content: center;
        align-items: center;
    }   
    .card{
        display: block;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
    .about{
        height: 1100px;
        width: 100%;
    }
    .box{
        width: 340px;
        text-align: center;
    }

    .s4{
        /* background: cornflowerblue; */
        text-align: center;
        height: 600px;
        padding-top: 2rem;
        
        
    }
    
    .my-form{
        margin-top: 1rem;
        display: block;
        justify-content: center;
        align-items: center;
    }
    form{
        max-width: 650px;
        margin: 0 auto;
    
    }
    
    input[type=text]{
        width: 95%;
        padding: 10px;
        margin: 5px;
        display: inline-block;
        border-radius: 4px;
        overflow: auto;
    }
    textarea {
        width: 95%;
        height: 50px;
        padding: 10px;
        margin: 5px;
        display: inline-block;
        border-radius: 4px;
        overflow: auto;
    }
    
    input[type=submit] {
        display: block;
        justify-content: center;
        align-items: center;
        margin: 15px auto;
        background-color: #1A1A40;
    }
    
    .footer{
        height: 350px;
    }
    .footer-center{
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 350px;
        margin: 0 auto;
    }
    .footer-center:first-child{
        padding-top: 1rem;
    }

    .ss1{
        margin: 0 auto;
    
    }
    
}
@media only screen and (max-width: 412px) {
   
    .about-me{
        width: 250px;
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 390px) {
    .about-me{
       width: 250px;
    }
}
@media only screen and (max-width: 360px) {
    .about-myself{
       width: 220px;
       margin-right: 20px;
    }
}